# Requisitos principais
PyQt5
pandas
psutil
requests
paramiko
cryptography
pyopenssl
qtawesome
matplotlib
numpy
Django
djangorestframework
python-dotenv

# Execução e integração
locust
pytest
pytest-qt
pytest-mock
pytest-benchmark
pytest-playwright
pytest-cov
safety
pip-audit
black
coverage
coveralls

# Integração FTPS
pyftpdlib
# Integração SFTP
pysftp
# Integração SOCKS
pysocks
# WireGuard (instalação externa)
# wireguard-tools (instale via sistema)
